<% cache [@chats.size, @chats.last.created_at] do %>
  <div class='d-flex flex-wrap justify-content-center'>
    <% @chats.each do |chat| %>
      <div class='card m-2 max-card-width'>
        <%= link_to public_chat_path(chat, chat.age_and_name_with_arrows_en) do %>
          <%= image_tag chat_static_map_url(chat), class: 'card-img-top' %>
        <% end %>
        <div class='card-body'>
          <p class='card-text'>
            <%= chat.age_and_name_with_arrows_en %>
          </p>
        </div>
        <div class='card-footer'>
          <small>
            <%= chat.created_at.to_s :short %>
          </small>
          <%= link_to public_chat_path(chat, chat.age_and_name_with_arrows_en), class: 'pull-right' do %>
            <%= t('show') %>
            <%= chat.moves.size %> <%= Move.model_name.human count: chat.moves.size %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
