<%= t('please_select_age') %>
<% (1..7).map do |i| %>
  <%= link_to moves_for_age_path(age: i) do %>
    <span class='color-age-<%= i %>'><%= i %></span>
  <% end %>
<% end %>
<br>

<% if @moves.present? %>
  <% cache ['moves-markers', I18n.locale, latest_move_timestamp] do %>
    <%= @moves.size %>
    <%
      markers = @moves.map { |move| move.to_groups.present? ? [move.from_group.location, move.to_groups.map(&:location)] : nil }.flatten.compact.uniq
      lines = []
      @moves.each do |move|
        move.to_groups.each do |to_group|
          lines << OpenStruct.new(from: move.from_group.location, to: to_group.location, age: move.from_group.age)
        end
      end
    %>
    <%= show_lines_map markers, lines, class: 'show-all-map-container', id: 'map-moves' %>
  <% end %>
<% end %>
