<%
  breadcrumb t('dashboard') => admin_dashboard_path, Location.model_name.human(count: 2).mb_chars.capitalize => nil
%>
<h1><%= @city.name %></h1>
<%= modal id: 'new-modal', title: t('create_location') %>
<h2><%= Location.model_name.human(count: 2).mb_chars.capitalize %></h2>
<%= link_to new_admin_location_path(city_id: @city.id), class: 'btn btn-default', "data-toggle": "modal", "data-target": "#new-modal" do %>
  <i class="fa fa-plus" aria-hidden="true"></i>
  <%= t('create_location') %>
<% end %>
<ul>
  <% @city.locations.each do |location| %>
    <li><%= link_to location.name, admin_location_path(location) %></li>
  <% end %>
</ul>
