<%
  breadcrumb t_crud('edit', resource_class) => nil
%>

<div class='row'>
  <div class='col'>
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.email_field :email %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t 'my_devise.currently_waiting_confirmation_for', item: resource.unconfirmed_email %></div>
      <% end %>

      <%= f.password_field :password, autocomplete: "off" %>
      <i>(<%= t 'my_devise.leave_blank_if_you_dont_want_to_change_it' %>)</i>
      <% if @minimum_password_length %>
        <em><%= t 'my_devise.characters_minimum', count: @minimum_password_length %></em>
      <% end %>

      <%= f.password_field :password_confirmation, autocomplete: "off" %>

      <%= f.password_field :current_password, autocomplete: "off" %>
      <i>(<%= t 'my_devise.we_need_your_current_password_to_confirm_your_changes' %>)</i><br>

      <%= f.submit t('update'), class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
  <div class='col'>
    <h3><%= t 'my_devise.cancel_my_account' %></h3>

    <p>
      <%= t 'my_devise.unhappy' %>?
      <%= bootstrap_form_tag url: registration_path(resource_name), method: :delete do |f| %>
        <%= f.text_area :any_reason, label: t('my_devise.any_reason') %>
        <%= f.button t('my_devise.cancel_my_account'), data: { confirm: t_crud('are_you_sure_to_remove_item', item: User) }, class: 'btn btn-danger' %>
      <% end %>
    </p>
  </div>
</div>
