<%= paginate @chats %>
<ul>
  <% @chats.each do |chat| %>
    <li>
      <small><%= chat.created_at.to_s :short %></small>
      <%= link_to chat_url(chat) do %>
        <b><%= chat.moves.size %> <%= Move.model_name.human count: chat.moves.size %></b>
      <% end %>
      <%= button_to 'Featured', featured_admin_chat_path(chat), method: :patch, form_class: 'd-inline', class: 'btn btn-secondary btn-sm' %>
      <% chat.moves.each do |move| %>
        <% if move.user %>
          <%= link_to move.user.email, admin_user_path(move.user) %>
        <% else %>
          Deleted user
        <% end %>
        <%= move.from_group.location.name %>
      <% end %>
      :
      <% chat.messages.limit(5).each do |message| %>
        <%= message.text %>
        <small><b>(<%= message.user&.email %> <%= message.created_at.to_s :short %>)</b></small>
      <% end %>
    </li>
  <% end %>
</ul>
