<ul>
  <% @chats.each do |chat| %>
    <li>
      <%= link_to chat_url(chat) do %>
        <% chat.moves.each do |move| %>
          <% if move.user %>
            <%= move.user.email %>
          <% else %>
            Deleted user
          <% end %>
          <%= move.from_group.location.name %>
        <% end %>
      <% end %>
      :
      <% chat.messages.limit(5).each do |message| %>
        <b><%= message.text %></b>
        (<small><%= message.user&.email %></small>)
      <% end %>
    </li>
  <% end %>
</ul>
