<%
%>
<%= link_to "Notify confirmed users (#{User.confirmed.size})", admin_notify_user_path %>
<% City.all.each do |city| %>
  <div>
    <%= link_to city.name, admin_locations_path(city_id: city.id) %>
  </div>
<% end %>
<div>
  <%= link_to User.size.to_s + ' ' + User.model_name.human(count: User.size), admin_users_path %>
</div>
<div>
  <%= link_to Chat.active.size.to_s + ' active ' + Chat.model_name.human(count: Chat.size), admin_chats_path(status: :active) %>
</div>
<div>
  <%= link_to Chat.archived.size.to_s + ' archived ' + Chat.model_name.human(count: Chat.size), admin_chats_path(status: :archived) %>
</div>
<div>
  <%= link_to Chat.archived.where(archived_reason: 'this_chat_completed_successfully').size.to_s + ' this_chat_completed_successfully ' + Chat.model_name.human(count: Chat.size), admin_chats_path(status: :archived, archived_reason: 'this_chat_completed_successfully') %>
</div>
<div>
  <%= link_to t('report', count: Message.reported.length), admin_reported_messages_path %>
</div>
