<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to sign_in_as_path(user_id: user.id) do %>
        <%= user.email %>
        <% if user.admin? %>
          <span class='badge badge-primary'>admin</span>
        <% end %>
      <% end %>
      <% user.moves.each do |move| %>
        <%= move.from_group.location.name %> <%= move.from_group.age %> (
        <% move.to_groups.each do |group| %>
          <%= group.location.name %>
        <% end %>
        )
      <% end %>
    </li>
  <% end %>
</ul>
