<%
  breadcrumb "#{Move.model_name.human.mb_chars.capitalize} #{@move.from_group.location.name}" => nil
%>
<h1>
  <%= t('my_requests') %>
  <%= @move.from_group.location.name %>
  (<%= @move.from_group.age_with_short_title %>)
</h1>
<div class='d-flex justify-content-between'>
  <div>
    <ul class="list-unstyled">
      <% @move.to_groups.each do |group| %>
        <li class="show-on-hover">
          &emsp; ↪  <span><%= group.location.name_with_address %></span>
          <%= link_to t("delete"), destroy_to_group_move_path(@move, to_group_id: group.id), method: :delete, class: "text-danger show-on-hover-target", 'data-confirm': t_crud('are_you_sure_to_remove_item', item: Group) %>
        </li>
      <% end %>
    </ul>
    <%= modal id: 'find-on-map-modal', title: t('find_on_map'), fade: false %>
    <input type="checkbox" id="toggle-active" class="toggle-active" />
    <label for="toggle-active" class='btn btn-default'>
      <i class="fa fa-plus" aria-hidden="true"></i>
      <%= t('add_requested_location') %>
    </label>
    <span class="toggle-active-target hide-not-important">
      <%= form_tag create_to_group_move_path(@move), class: 'inline' do %>
        <%= select_tag :to_location_id, "", include_blank: t('activemodel.attributes.landing_signup.to_location'), id: 'to_location_id', 'data-select2-ajax-initialize': select2_locations_path, class: 'add-new-to-groups', required: true %>
        <span><%= t('or') %></span>
        <%= link_to t('find_on_map'), find_on_map_path(select_element: '#to_location_id'), "data-toggle": "modal", "data-target": "#find-on-map-modal" %>
        <%= button_tag t("add"), class: 'btn btn-primary' %>
      <% end %>
    </span>
  </div>
  <%= show_lines_map [@move.from_group.location, @move.to_groups.map(&:location)].flatten, @move.to_groups.map(&:location).map { |loc| OpenStruct.new from: @move.from_group.location, to: loc, age: @move.from_group.age }, class: 'show-lines-map-container' %>
</div>
<%= link_to t('share'), my_move_path(@move, @move.group_age_and_locations) %>
