<%#
  message
  owner: boolean
  bounce: boolean
%>
<%
  owner = false unless defined? owner
  bounce = false unless defined? bounce
%>
<li data-user-id='<%= message.user_id %>' class="show-on-hover message-line
  <%= 'message-line__owner' if owner %>
  <%= 'animated bounce' if bounce %>
  <%= 'reported' if message.reported_at %>
  ">
  <div class='message-text'>
    <% if message.archived? %>
      <%= t 'message_archived' %>
    <% else %>
      <%= message.text %>
    <% end %>
    <small class=''><%= message.user_location_name %></small>
    <%= link_to archive_message_chat_path(message.chat, message_id: message.id), method: :delete, class: "message-owner-section text-danger show-on-hover-target", 'data-confirm': t_crud('are_you_sure_to_remove_item', item: Message), title: t_crud('delete', Message) do %>
      <i class="fa fa-remove" aria-hidden="true"></i>
    <% end %>
    <% if message.reported_at %>
      <%= link_to report_message_chat_path(message.chat, message_id: message.id, cancel_report: true), method: :patch, class: "message-not-owner-section text-danger show-on-hover-target", 'data-confirm': t('are_you_sure_to_cancel_report_abuse'), title: t('cancel_report_abuse') do %>
        <i class="fa fa-flag-o" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <%= link_to report_message_chat_path(message.chat, message_id: message.id), method: :patch, class: "message-not-owner-section text-danger show-on-hover-target", 'data-confirm': t('are_you_sure_to_report_abuse'), title: t('report_abuse') do %>
        <i class="fa fa-flag" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
</li>
