<%
  breadcrumb "#{Chat.model_name.human.mb_chars.capitalize} #{@chat.name_for_user(current_user)}" => nil
%>
<% if @chat.active? %>
  <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t 'delete' %>
    </button>
    <div class="dropdown-menu">
      <% Chat::ARCHIVED_REASONS.each do |reason| %>
        <%= form_tag archive_chat_path(@chat) do %>
          <%= hidden_field_tag :commit, reason %>
          <%= button_tag t(reason), class: 'dropdown-item' %>
        <% end %>
      <% end %>
      <div class="dropdown-divider"></div>
      <%= form_tag archive_chat_path(@chat) do %>
        <%= text_field_tag :other_reason, nil, placeholder: t('here_write_other_reason') %>
        <%= hidden_field_tag :commit, :other_reason %>
        <%= button_tag t('other_reason'), class: 'dropdown-item' %>
      <% end %>
    </div>
  </div>
  <%= bootstrap_form_for @message_decorator, url: create_message_chat_path(@chat), remote: true do |f| %>
    <%= f.text_field :text, class: 'new-message-input', id: 'new-message-input', skip_label: true, required: true, append: f.primary(t_crud('create', Message)), 'data-disable-with': t('sending'), autofocus: true %>
  <% end %>
<% else %>
  <%= @chat.archived_text %>
<% end %>
<ul class="list-unstyled" id='messages' data-chat-page='<%= @chat.id %>' data-user-id='<%= current_user.id %>'>
  <% @chat.messages.each do |message| %>
    <%= render "message", message: message, owner: message.user == current_user %>
  <% end %>
</ul>
