<%
  breadcrumb Chat.model_name.human.mb_chars.capitalize.html_safe + ': ' + @chat.name_with_arrows => nil

  placeholder = if current_user.admin?
                  nil
                else
                  t('here_type_message_like', location: @chat.from_location_for_user(current_user).name)
                end
  placeholder = nil if @chat.messages.present?
%>
<% if @chat.groups.present? %>
  <div class='mb-3'>
     <% location_names = @chat.groups.map {|group| group.location.name }.to_sentence %>
     <% @chat.moves.each do |move| %>
       <%= move.from_group.location.name %>
       <%= move.user.email_with_phone_if_present %>
       <% if move.user.shared_chats.include?(@chat) %>
         <span class='badge badge-success'><%= t('shared') %></span>
       <% end %>
       <% if move.user.ignored_chats.include?(@chat) %>
         <span class='badge badge-danger'><%= t('ignored') %></span>
       <% end %>
       <% if current_user.admin? %>
         (only admin
         <%= link_to move.user.email, admin_user_path(move.user) %>
         <%= form_tag archive_chat_path(@chat, user_id: move.user.id), class: 'd-inline' do %>
           <%= hidden_field_tag :commit, Move::ADMIN_INACTIVE_ARCHIVED_REASON %>
           <%= button_tag Move::ADMIN_INACTIVE_ARCHIVED_REASON, class: 'btn-danger' %>
         <% end %>
         )
       <% end %>
       -
     <% end %>
     <%= link_to t('look_on_map'), public_chat_path(@chat, @chat.name_with_arrows) %>
  </div>
<% end %>
<div class='row'>
  <div class='col-12'>
    <% if @chat.active? %>
      <%= bootstrap_form_for @message_decorator, url: create_message_chat_path(@chat), remote: true do |f| %>
        <%= f.text_field :text, class: '', id: 'new-message-input', placeholder: placeholder, skip_label: true, required: true, append: f.primary(t_crud('send', Message)), 'data-disable-with': t('sending'), autofocus: true %>
      <% end %>
    <% end %>
    <ul class="list-unstyled" id='messages' data-chat-page='<%= @chat.id %>' data-user-id='<%= current_user.id %>'>
      <% @chat.messages.each do |message| %>
        <%= render "message", message: message, owner: message.user == current_user, current_user_admin: current_user.admin? %>
      <% end %>
    </ul>
    <%= t('help_for_chat') %>:
    <span class=' text-muted'> <%=raw t('chat_instructions') %></small>
  </div>
  <div class='col-12'>
    <% if @chat.active? %>
      <div class="btn-group pull-right">
        <% unless current_user.admin? %>
          <%= form_tag archive_chat_path(@chat) do %>
            <%= hidden_field_tag :commit, Move::SUCCESS_ARHIVED_REASON %>
            <%= button_tag t(Move::SUCCESS_ARHIVED_REASON), class: 'btn btn-success', 'data-confirm': t('successfully_replaced_notice') %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="dropdown-menu">
      <% Move::FAILED_ARCHIVED_REASONS.each do |reason| %>
        <%= form_tag archive_chat_path(@chat) do %>
          <%= hidden_field_tag :commit, reason %>
          <%= button_tag t(reason), class: 'dropdown-item' %>
        <% end %>
      <% end %>
    </div>
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t('delete_chat_and_my_move').html_safe %>
    </button>
  </div>
</div>
