<%
  login_layout t('contact')
%>
<p><%= t 'contact_description' %></p>
<%= bootstrap_form_for @contact_form, url: contact_path do |f| %>
  <%= f.email_field :email, required: true, disabled: current_user.present? %>
  <%= f.text_area :text, required: true %>
  <%= recaptcha_tags callback: 'enableRecaptchaButtons' %>
  <%= f.submit t('send'), class: 'btn btn-block btn-primary', 'data-recaptcha-button': 'true', disabled: !Rails.env.test? %>
<% end %>
<p><%= t 'or' %></p>
<%= t 'find_us_on' %>
<%= link_to Rails.application.secrets.facebook_page_url, title: t('our_fb_page'), class: 'btn btn-social' do %>
  <i class="fa fa-facebook-official"></i>
  <small>
    <%= Rails.application.secrets.facebook_page_url[Rails.application.secrets.facebook_page_url.index('facebook')..-1] %>
  </small>
<% end %>
