<%
  landing_layout
  font_drift = 1.7
  bc_y_offset = 65
  last_chats = Chat.active.query_as(:c).order('c.created_at DESC').limit(1).pluck(:c)
%>
<div class="background-gradient">
  <nav class="navbar p-0">
    <%= render 'layouts/choose_language' %>
    <a class="navbar-brand d-none d-sm-block" href="/">
      <%= t 'site_title' %>
    </a>
    <div class="ml-auto">
      <% if current_user %>
        <div class='p-3'>
          <% if current_user.admin? %>
            <%= link_to t("admin_dashboard"), admin_dashboard_path %>
          <% end %>
          <%= link_to t('blog'), Constant::BLOG_PATH %>
          <%= link_to t('dashboard'), dashboard_path %>
        </div>
      <% else %>
        <% if false # Rails.env.development? %>
          <small>
            Only on development
            <% User.all.order(:created_at).limit(4).each do |user| %>
              <%= link_to user.email, sign_in_as_path(user_id: user.id) %>
            <% end %>
          </small>
        <% end %>
        <%= link_to t('blog'), Constant::BLOG_PATH %>
        <%# <%= link_to t("register"), new_user_registration_path %1> %>
        <%# | %>
        <%= link_to t("sign_in"), new_user_session_path %>
        <%= link_to user_facebook_omniauth_authorize_path, title: t("my_devise.sign_in_with", provider: t('provider.facebook')), class: 'btn btn-social' do %>
          <i class="fa fa-facebook-official"></i>
        <% end %>
        <%= link_to user_google_oauth2_omniauth_authorize_path, title: t("my_devise.sign_in_with", provider: t('provider.google_oauth2')), class: 'btn btn-social' do %>
          <i class="fa fa-google" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </nav>
  <div class="text-center site-description">
    <h2 class="mb-5 colorize-text-background">
      <%= t 'site_description_1' %>
      <br>
      <%= t 'site_description_2' %>
      <br>
      <%= t 'site_description_3' %>
    </h2>
    <div>
      <a class="btn btn-primary btn-xl animated rubberBand" data-scroll-into-view="carouselbox" href="#carouselbox" id='where-do-you-want-to-move'><%= t :where_do_you_want_to_move %></a>
    </div>
    <div class='mt-3'>
      <a href="<%= faq_path %>"><%= t 'faq' %></a>
    </div>
    <div class='mt-2'>
      <a href="<%= contact_path %>"><%= t 'contact' %></a>
    </div>
    <% cache ['moves-locations', I18n.locale, latest_chat_timestamp] do %>
      <div class='mt-3'>
        <small><%= t('last_request') %></small>
        <span>
          <%= (1..7).map {|i| "<span class='color-age-#{i}'>#{i}</span>" }.join(', ').html_safe %>
          <%= I18n.t('year') %>
        </span>
        <%= link_to t('see_all_moves'), all_moves_path %>
        <br>
        <% text = Move.query_as(:m).order('m.created_at DESC').limit(1).pluck(:m).map do |move|
            "<a href=\"#{my_move_path(move, move.group_age_and_locations)}\"><span class=\"color-age-#{move.from_group.age}\">" +
              move.show_locations +
            "</span></a>"
          end.join(', ').html_safe
          # join with comma is important since we split by that and show one by
          # one, please without colons for now
        %>
        <span id='references'>
          <%= text %>
        </span>
        <script>
          alertTextShowHide.element_text(document.getElementById('references'), '<%= text %>', 99999, 500, ',');
        </script>
      </div>
      <div class='mt-3'>
        <small><%= t('last_chat') %></small>
        <br>
        <%
          text = last_chats.map do |chat|
            "<span class=\"color-age-#{chat.moves.first.from_group.age}\">" +
              chat.name_with_arrows +
            "</span>"
          end.join(', ').html_safe
          # join with comma is important since we split by that and show one by
          # one, please without colons for now
        %>
        <span id='chats-references'>
          <%= text %>
        </span>
        <script>
          alertTextShowHide.element_text(document.getElementById('chats-references'), '<%= text %>', 99999, 500, ',');
        </script>
      </div>
    <% end %>
  </div>
  <div class='py-4 text-center'>
    <%= t 'site_disclaimer' %>
  </div>
  <div class="m-auto">
    <%= render 'layouts/alerts' %>
  </div>
</div>
<% cache ['chats-markers', I18n.locale, latest_chat_timestamp] do %>
  <%
    markers = last_chats.map { |chat| chat.moves.from_group.location }.flatten.uniq
    lines = []
    last_chats.each do |chat|
      age = chat.moves.first.from_group.age
      locations = chat.ordered_moves.map(&:from_group).map(&:location)
      locations.zip(locations.rotate).each do |from_location, to_location|
        lines << OpenStruct.new(from: from_location, to: to_location, age: age)
      end
    end
  %>
  <%= show_lines_map markers, lines, class: 'show-all-lines-map-container', id: 'map-chats', async_load: false %>
  <%= async_load_map_ids 'map-chats' %>
<% end %>

<svg id="abc" class="abc d-none d-md-block" preserveAspectRatio="none" viewBox="-1 -1 102 102">
  <text class="text abc__color-a abc__color-fill-a" x="50" y="3" dx="-<%= font_drift %>" dy="<%= font_drift %>"><%= t 'abc.a' %></text>
  <text class="text abc__color-b abc__color-fill-b" x="97" y="<%= bc_y_offset %>" dx="-<%= font_drift %>" dy="<%= font_drift %>"><%= t 'abc.b' %></text>
  <text class="text abc__color-c abc__color-fill-c" x="3" y="<%= bc_y_offset %>" dx="-<%= font_drift %>" dy="<%= font_drift %>"><%= t 'abc.c' %></text>
  <circle class="abc__color-a" cx="50" cy="3" r="3"/>
  <circle class="abc__color-b" cx="97" cy="<%= bc_y_offset %>" r="3"/>
  <circle class="abc__color-c" cx="3" cy="<%= bc_y_offset %>" r="3"/>
  <g class="abc__line">
    <path id="ab" class="abc__color-a" d="M 53 3 Q 97 3, 97 <%= bc_y_offset - 3 %>"/>
    <path id="bc" class="abc__color-b" d="M 97 <%= bc_y_offset + 3 %> Q 80 96, 50 96 T 3 <%= bc_y_offset + 3 %>"/>
    <path id="ca" class="abc__color-c" d="M 3 <%= bc_y_offset - 3 %> Q 3 3, 47 3 "/>
  </g>
  <defs>
    <filter id="f1" x="0" y="0">
      <feGaussianBlur stdDeviation="0.15" />
    </filter>
  </defs>
</svg>

<%= modal id: 'find-on-map-modal', title: t('find_on_map'), fade: false %>
<div class="landing-page-footer">
  <%= bootstrap_form_for @landing_signup, url: landing_signup_path, builder: MyFormBuilder, html: { class: 'landing-page-form' } do |f| %>

    <%= f.hidden_field :current_city %>

    <div id='carouselbox' class="carouselbox <%= 'no-transition' if Rails.env.test? %>">
      <ol class="no-padding-relative">
        <li class='mt-5 <%= (already_shown=true) && 'current animated' if @landing_signup.errors[:current_location].present? || @landing_signup.errors.blank? %>'>
          <%= f.select :current_location, @landing_signup.already_selected_current_location_options, {}, id: 'current_location', 'data-select2-ajax-initialize': select2_locations_path, 'data-increase-abc': 1, 'data-select-target': '#from_group_age' %>
          <div class="text-center d-none d-md-block"><%= t('or') %></div>
          <%= link_to t('find_on_map'), find_on_map_path(select_element: '#current_location'), "data-toggle": "modal", "data-target": "#find-on-map-modal" %>
        </li>
        <li class='mt-5 <%= (already_shown=true) && 'current animated' if @landing_signup.errors[:from_group_age].present? && !already_shown %>'>
          <%= f.select :from_group_age, 1.upto(7).map {|a| [Group.title_for_age(a), a]}, {}, id: 'from_group_age', 'data-increase-abc': 2, 'data-select-target': '#to_location' %>
        </li>
        <li class='mt-5 <%= (already_shown=true) && 'current animated' if @landing_signup.errors[:to_location].present? && !already_shown %>'>
          <%= f.select :to_location, @landing_signup.already_selected_to_location_options, {}, id: 'to_location', 'data-select2-ajax-initialize': select2_locations_path, 'data-increase-abc': 3, 'data-select-target': '#email' %>
          <%= link_to t('find_on_map'), find_on_map_path(select_element: '#to_location'), "data-toggle": "modal", "data-target": "#find-on-map-modal" %>
          <div class="text-center"><%= t('or') %></div>
          <a href="javascript:void(0)" onclick="$('#to_location').trigger('change')"><%= t('add_later') %></a>
        </li>
        <li class=' <%= (already_shown=true) && 'current animated' if @landing_signup.errors[:email].present? && !already_shown %>'>
          <% if current_user %>
            <%= f.button type: :submit, class: 'btn btn-primary', id: 'email' do %>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <%= t('activemodel.attributes.landing_signup.submit') %>
            <% end %>
          <% else %>
            <%# do not use required: true, since browser error will impact this layout %>
            <%= f.text_field :email, id: 'email' %>
            <%= f.password_field :password %>
            <%= f.form_group help: t('phone_or_email_address_will_be_shown'), class: 'border' do %>
              <%= f.check_box :visible_email_address %>
              <%= f.text_field :phone_number, id: 'phone_number', 'data-select-target': '#subscribe_to_new_match' %>
            <% end %>
            <a href="javascript:void(0)" onclick="$('#phone_number').trigger('change')" id='email-continue'><%= t('continue') %></a>
          <% end %>
        </li>
        <li class='mt-5 <%= (already_shown=true) && 'current animated' if @landing_signup.errors[:password].present? && !already_shown %>'>
          <% if current_user %>
          <% else %>
            <%= f.form_group label: { text: LandingSignup.human_attribute_name(:subscribe_to_new_match), for: 'subscribe_to_new_match' } do %>
              <%= f.check_box :subscribe_to_new_match, hide_label: true, required: true, id: 'subscribe_to_new_match' %>
            <% end %>
            <%= f.form_group label: { text: LandingSignup.human_attribute_name(:subscribe_to_news_mailing_list), for: 'subscribe_to_news_mailing_list' } do %>
              <%= f.check_box :subscribe_to_news_mailing_list, hide_label: true, id: 'subscribe_to_news_mailing_list' %>
            <% end %>
          <% end %>

          <%= f.button type: :submit, class: 'btn btn-primary' do %>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <%= t('activemodel.attributes.landing_signup.submit') %>
          <% end %>
        </li>
      </ol>
      <a class="carousel-control-prev <%= 'hide-not-important' unless @landing_signup.errors.present? %>" href="javascript:void(0)" role="button" id="left-arrow">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next <%= 'hide-not-important' unless @landing_signup.errors.present? %>" href="javascript:void(0)" role="button" id="right-arrow">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <% end %>
</div>
<%# <script> %>
<%#   var firstOption = $('#current-city option[value!=""]').first(); %>
<%#   $('#current-city').val(firstOption.val()).trigger('change'); %>
<%# </script> %>
<script>
  <% if @landing_signup.errors.present? %>
    window.location.hash = 'carouselbox'
  <% end %>
</script>
