<%
  landing_layout
%>
<svg id="abc" class="abc" preserveAspectRatio="none" viewBox="0 0 100 100">
  <text class="text abc__color-a abc__color-fill-a" x="48" y="5"><%= t 'landing_signup.abc.a' %></text>
  <text class="text abc__color-b abc__color-fill-b" x="95" y="75"><%= t 'landing_signup.abc.b' %></text>
  <text class="text abc__color-c abc__color-fill-c" x="1" y="75"><%= t 'landing_signup.abc.c' %></text>
  <circle class="abc__color-a" cx="50" cy="3" r="3"/>
  <circle class="abc__color-b" cx="97" cy="73" r="3"/>
  <circle class="abc__color-c" cx="3" cy="73" r="3"/>
  <g class="abc__line">
    <path id="ab" class="abc__color-a" d="M 53 3 Q 97 3, 97 70"/>
    <path class="abc__color-b" d="M 97 76 C 97 100, 3 100, 3 76"/>
    <path class="abc__color-c" d="M 3 70 Q 3 3, 47 3 "/>
  </g>
</svg>

<%= render 'layouts/choose_language' %>
<%= modal id: 'find-on-map-modal', title: t('find_on_map'), fade: false %>
<div class="landing-page">
  <h3 class="text-center"><%= t :where_do_you_want_to_move %></h3>

  <div id="signup-form">
    <%= bootstrap_form_for @landing_signup, url: landing_signup_path, builder: MyFormBuilder do |f| %>

      <%= f.hidden_field :current_city %>
      <%#= f.select :current_city, options_from_collection_for_select(City.all, :id, :name), { label: t('neo4j.attributes.landing_signup.current_city'), prompt: t('please_select') }, id: 'current-city', 'data-select-target': '#current-location', 'data-select-options': LandingSignup.locations_by_city_id.to_json, 'data-increase-abc': 1 %>

      <div class="carouselbox">
        <ol class="no-padding-relative">
          <li class="current">
            <%= f.select :current_location, (f.object.current_city.present? ? LandingSignup.locations_by_city_id[f.object.current_city.id].map{ |r| [r[:name],r[:id]]} : []), { label: t('neo4j.attributes.landing_signup.current_location') }, id: 'current-location', 'data-select-target': '#current-group', 'data-select-options': LandingSignup.groups_by_location_id.to_json, 'data-increase-abc': 2, 'data-select2-initialize': true %>
            <div class="text-center"><%= t('or') %></div>
            <%= link_to t('find_on_map'), find_on_map_path(select_element: '#current-location'), "data-toggle": "modal", "data-target": "#find-on-map-modal" %>
          </li>
          <li>
            <%= f.select :from_group, (f.object.current_location.present? ? LandingSignup.groups_by_location_id[f.object.current_location.id].map{ |r| [r[:name],r[:id]]} : []), { label: t('neo4j.attributes.landing_signup.from_group')}, 'data-select-target': '#to-groups', 'data-select-options': LandingSignup.groups_by_group_id.to_json, id: 'current-group', 'data-increase-abc': 3 %>
          </li>
          <li>
            <%= f.select :to_group, options_from_collection_for_select(Location.all, :name, :id), { label: t('neo4j.attributes.landing_signup.to_location') }, id: 'to-groups', 'data-select-target': '#contact-fields', 'data-increase-abc': 4, 'data-select2-initialize': true %>
            <div class="text-center"><%= t('or') %></div>
            <%= link_to t('find_on_map'), find_on_map_path(select_element: '#to-groups'), "data-toggle": "modal", "data-target": "#find-on-map-modal" %>
          </li>
          <li>
            <div id="contact-fields">
              <%= f.email_field :email, label: t('neo4j.attributes.landing_signup.email') %>
              <%= f.password_field :password, label: t('neo4j.attributes.landing_signup.password') %>

              <%= f.button type: :submit, class: 'btn' do %>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <%= t('landing_signup.submit') %>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <% end %>
            </div>
          </li>
        </ol>
        <a class="left carousel-control <%= 'hide-not-important' %>" href="javascript:void(0)" role="button" id="left-arrow">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control <%= 'hide-not-important' %>" href="javascript:void(0)" role="button" id="right-arrow">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>
  </div>
</div>
<script>
  var firstOption = $('#current-city option[value!=""]').first();
  $('#current-city').val(firstOption.val()).trigger('change');
</script>
