<h1><%= t :where_do_you_want_to_move %></h1>

<% unless current_user %>
  <div id="signup-form">
    <%= bootstrap_form_for @landing_signup, url: landing_signup_path, builder: MyFormBuilder do |f| %>

      <%= f.select :current_city, options_from_collection_for_select(City.all, :id, :name), { label: t('landing_signup.current_city'), prompt: t('please_select') }, 'data-select-target': '#current-location', 'data-select-options': LandingSignup.locations_by_city_id.to_json %>

      <%= f.select :current_location, [], { label: t('landing_signup.current_location') }, id: 'current-location', 'data-select-target': '#current-group', 'data-select-options': LandingSignup.groups_by_location_id.to_json, class: 'hide-not-important' %>

      <%= f.select :from_group, [], { label: t('landing_signup.from_group')}, 'data-select-target': '#prefered-groups', 'data-select-options': LandingSignup.groups_by_group_id.to_json, id: 'current-group', class: 'hide-not-important' %>

      <%= f.select :prefered_group, options_from_collection_for_select(Location.all, :name, :id), { label: t('landing_signup.prefered_location') }, id: 'prefered-groups', class: 'hide-not-important' %>

      <%= f.email_field :email, label: t('landing_signup.email') %>
      <%= f.password_field :password, label: t('landing_signup.password') %>

      <%= f.button type: :submit, class: 'btn' do %>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <%= t('landing_signup.submit') %>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
