<%
  landing_layout
  headline = t('my_move_introduction', from: @move.from_group.location.name, to: @move.to_groups.map(&:location).map(&:name).join(" #{t('or')} "), age: Group.title_for_age(@move.from_group.age))
  meta_tags 'og:url': request.url, 'og:type': 'website', 'og:title': @move.group_age_and_locations, 'og:description': strip_tags(headline), 'og:image': move_static_map_url(@move), 'image:width': '600', 'image:height': '315', 'place:location:latitude': @move.from_group.location.latitude, 'place:location:longitude': @move.from_group.location.longitude
  site_description "#{t('site_title')} #{@move.from_group.location.name} #{@move.to_groups.map(&:location).map(&:name).join}"
%>
<div class="text-center">
  <nav class="navbar p-0">
    <%= render 'layouts/choose_language' %>
    <a class="navbar-brand" href="/">
      <%= t 'site_title' %>
    </a>
    <div class="m-auto">
      <%= render 'layouts/alerts' %>
    </div>
    <div class="ml-auto">
      <% if current_user %>
        <div class='p-3'>
          <%= link_to t('dashboard'), dashboard_path %>
        </div>
      <% else %>
        <%# <%= link_to t("register"), new_user_registration_path %1> %>
        <%# | %>
        <%= link_to t("sign_in"), new_user_session_path %>
        <%= link_to user_facebook_omniauth_authorize_path, title: t("my_devise.sign_in_with", provider: t('provider.facebook')), class: 'btn btn-social' do %>
          <i class="fa fa-facebook-official"></i>
        <% end %>
        <%= link_to user_google_oauth2_omniauth_authorize_path, title: t("my_devise.sign_in_with", provider: t('provider.google_oauth2')), class: 'btn btn-social' do %>
          <i class="fa fa-google" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </nav>
  <h1 class='my-move-introduction'>
    <%= headline.html_safe %>
  </h1>
  <p>
    <%= t('if_you_have_some_of_this_locations_we_can_match') %>
  </p>
  <%= move_share_link @move, class: 'animated fadeIn' %>
  <%= modal id: 'find-on-map-modal', title: t('find_on_map'), fade: false %>
  <%= bootstrap_form_for @landing_signup, url: my_move_path, builder: MyFormBuilder do |f| %>
    <%= f.hidden_field :current_city %>
    <div class='my-move m-3 d-flex flex-wrap align-items-start justify-content-center'>
      <div class=''>
        <%= f.select :current_location, @landing_signup.already_selected_current_location_options, { help: link_to(t('or_choose_any_on_map'), find_on_map_path(select_element: '#current_location'), "data-toggle": "modal", "data-target": "#find-on-map-modal") }, id: 'current_location', 'data-select2-ajax-initialize': select2_locations_path %>
      </div>
      <div class=''>
        <%= f.select :from_group_age, 1.upto(7).map {|a| [Group.title_for_age(a), a]}, { selected: f.object.from_group_age }, 'data-select2-initialize': true %>
      </div>
      <div class=''>
        <%= f.select :to_location, @landing_signup.already_selected_to_location_options, { help: link_to(t('or_choose_any_on_map'), find_on_map_path(select_element: '#to_location'), "data-toggle": "modal", "data-target": "#find-on-map-modal")}, id: 'to_location', 'data-select2-ajax-initialize': select2_locations_path %>
      </div>
      <% unless current_user %>
        <div class=''>
          <%= f.text_field :email %>
        </div>
        <div>
          <%= f.password_field :password %>
        </div>
        <%= f.text_field :phone_number, size: 10 %>
        <%= help_icon t('phone_or_email_address_will_be_shown') %>
        <%= f.form_group do %>
          <%= f.label :visible_email_address %>
          <%= f.check_box :visible_email_address, hide_label: true %>
        <% end %>
        <%= f.form_group do %>
          <%= f.label :subscribe_to_new_match %>
          <%= f.check_box :subscribe_to_new_match, required: true, hide_label: true %>
        <% end %>
        <%= f.form_group do %>
          <%= f.label :subscribe_to_news_mailing_list %>
          <%= f.check_box :subscribe_to_news_mailing_list, hide_label: true %>
        <% end %>
      <% end %><%# unless current_user %>
      <div class=''>
        <%= f.button type: :submit, class: 'btn btn-primary' do %>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <%= t('activemodel.attributes.landing_signup.submit') %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= show_lines_map [@move.from_group.location, @move.to_groups.map(&:location)].flatten, @move.to_groups.map(&:location).map { |loc| OpenStruct.new from: @move.from_group.location, to: loc, age: @move.from_group.age }, class: 'show-all-lines-for-move-map-container' %>
</div>
