<%
  landing_layout
  headline = t('public_move_introduction', from: @move.from_group.location.name, to: @move.to_groups.map(&:location).map(&:name).join(" #{t('or')} "), age: Group.title_for_age(@move.from_group.age))
  meta_tags 'og:url': request.url, 'og:type': 'website', 'og:title': @move.group_age_and_locations, 'og:description': strip_tags(headline), 'og:image': move_static_map_url(@move), 'image:width': '600', 'image:height': '315', 'place:location:latitude': @move.from_group.location.latitude, 'place:location:longitude': @move.from_group.location.longitude
  site_description "#{t('site_title')} #{@move.from_group.location.name} #{@move.to_groups.map(&:location).map(&:name).join}"
%>
<div class="text-center">
  <%= render 'public_header' %>
  <h1 class='my-move-introduction'>
    <%= headline.html_safe %>
  </h1>
  <p>
    <%= t('if_you_have_some_of_this_locations_we_can_match') %>
  </p>
  <%= link_buy_me_a_coffee %>
  <%= t('or') %>
  <%= move_share_link @move, class: 'animated fadeIn' %>
  <%= modal id: 'find-on-map-modal', title: t('find_on_map'), fade: false %>
  <%= bootstrap_form_for @landing_signup, url: public_move_path, builder: MyFormBuilder do |f| %>
    <%= f.hidden_field :current_city %>
    <div class='my-move m-3 d-flex flex-wrap align-items-start justify-content-center bg-white p-2 border'>
      <div class=''>
        <%= f.select :current_location, @landing_signup.already_selected_current_location_options, { help: link_to(t('or_choose_any_on_map'), find_on_map_path(select_element: '#current_location'), "data-toggle": "modal", "data-target": "#find-on-map-modal") }, id: 'current_location', 'data-select2-ajax-initialize': select2_locations_path %>
      </div>
      <div class=''>
        <%= f.select :from_group_age, 1.upto(7).map {|a| [Group.title_for_age(a), a]}, { selected: f.object.from_group_age }, 'data-select2-initialize': true %>
      </div>
      <div class=''>
        <%= f.select :to_location, @landing_signup.already_selected_to_location_options, { help: link_to(t('or_choose_any_on_map'), find_on_map_path(select_element: '#to_location'), "data-toggle": "modal", "data-target": "#find-on-map-modal")}, id: 'to_location', 'data-select2-ajax-initialize': select2_locations_path %>
      </div>
      <% unless current_user %>
        <div class=''>
          <%= f.text_field :email %>
        </div>
        <div>
          <%= f.password_field :password %>
        </div>
        <%= f.text_field :phone_number, size: 10 %>
        <%= help_icon t('phone_or_email_address_will_be_shown') %>
        <%= f.form_group do %>
          <%= f.label :visible_email_address %>
          <%= f.check_box :visible_email_address, hide_label: true %>
        <% end %>
        <%= f.form_group do %>
          <%= f.label :subscribe_to_new_match %>
          <%= f.check_box :subscribe_to_new_match, required: true, hide_label: true %>
        <% end %>
        <%= f.form_group do %>
          <%= f.label :subscribe_to_news_mailing_list %>
          <%= f.check_box :subscribe_to_news_mailing_list, hide_label: true %>
        <% end %>
      <% end %><%# unless current_user %>
      <div class=''>
        <%= f.button type: :submit, class: 'btn btn-primary' do %>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <%= t('activemodel.attributes.landing_signup.submit') %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= image_tag move_static_map_url(@move) %>
</div>
