<div id='new-edit-holder'>
  <%= bootstrap_form_for @group, url: (@group.new_record? ? admin_groups_path : admin_group_path(@group)), layout: :horizontal, remote: true do |f| %>
    <div class="modal-body">
      <%= f.number_field :age %>
      <%= f.text_field :name %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><%= t('close') %></button>
      <% if @group.new_record? %>
        <%= hidden_field_tag :location, params[:location] %>
        <button type="submit" class="btn btn-primary" data-disable-with="<i class='fa fa-spinner fa-spin'></i> <%= t('create') %>"><%= t('create') %></button>
      <% else %>
        <%= link_to admin_group_path(@group), remote: true, class: "btn btn-danger", method: :delete, "data-confirm": t('are_you_sure_to_remove_item', item: Group.model_name.human) do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
          <%= t('delete') %>
        <% end %>
        <button type="submit" class="btn btn-primary" data-disable-with="<i class='fa fa-spinner fa-spin'></i> <%= t('save') %>">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <%= t('save') %>
        </button>
      <% end %>
    </div>
  <% end %>
</div>
