<% breadcrumb 'Users' => admin_users_path, 'Show': nil %>
<div>
  <%= link_to sign_in_as_path(user_id: @user.id) do %>
    sign in as <%= @user.email %>
    <% if @user.auth.present? %>
      <% auth = JSON.parse @user.auth %>
      <%= image_tag auth['info']['image'] %>
    <% end %>
  <% end %>
</div>

<h1>Moves</h1>
<% @user.moves.each do |move| %>
  <div>
    <%= move.group_age_and_locations %>
  </div>
<% end %>
<h1>Chats active</h1>
<% @user.moves.chats.active.each do |chat| %>
  <%= chat.name_for_user @user %>
  <ul id='active_chat'>
    <% chat.messages.each do |message| %>
      <li>
        <%= message.text %>
        <small><%= message.user_location_name %></small>
      </li>
    <% end %>
  </ul>
<% end %>
<h1>Chats archived</h1>
<% @user.moves.chats.archived.each do |chat| %>
  <%= chat.name_for_user @user %>
  <ul id='archived_chat'>
    <% chat.messages.each do |message| %>
      <li>
        <%= message.text %>
        <small><%= message.user_location_name %></small>
      </li>
    <% end %>
  </ul>
<% end %>
<h1>Chats move deleted</h1>
<% deleted_move_chats = Message.query_as(:m).match('(m)--(u:User), (m)--(c:Chat)').where('NOT c.uuid IN {direct_chat_ids}').params(direct_chat_ids: @user.moves.chats.map(&:uuid)).pluck(:c) %>
<% deleted_move_chats.each do |chat| %>
  <%= chat.name_for_user @user %>
  <ul id='deleted_move_chat'>
    <% chat.messages.each do |message| %>
      <li>
        <%= message.text %>
        <small><%= message.user_location_name %></small>
      </li>
    <% end %>
  </ul>
<% end %>
