<div class='<%= login_layout? ? 'mt-1' : 'stick-to-corner' %>'>
  <div class="alert alert-info" id="notice"></div>
  <div class="alert alert-danger" id="alert"></div>
  <div class="hide-to-up" id='notice-debug'><%= notice %></div>
  <div class="hide-to-up" id='alert-debug'><%= alert %></div>
</div>
<script>
  function flash_notice(message) {
    alertTextShowHide.element_text(document.getElementById('notice'), message, 10000);
  }
  function flash_alert(message) {
    alertTextShowHide.element_text(document.getElementById('alert'), message, 10000);
  }
  <%=raw "flash_notice('#{j notice}');" if notice %>
  <%=raw "flash_alert('#{j alert}');" if alert %>
</script>
