<div class='<%= login_layout? ? '' : 'stick-to-corner' %>'>
  <div class="alert alert-info" id="notice"></div>
  <div class="alert alert-danger" id="alert"></div>
  <div class="hide-to-up" id='notice-debug'><%= notice %></div>
  <div class="hide-to-up" id='alert-debug'><%= alert %></div>
</div>
<script>
  <%=raw "alertTextShowHide.element_text(document.getElementById('notice'), '#{j notice}', 10000);" if notice %>
  <%=raw "alertTextShowHide.element_text(document.getElementById('alert'), '#{j alert}', 10000);" if alert %>
</script>
