<!DOCTYPE html>
<html>
  <head>
    <title>PremestiSe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if login_layout? %>
      <%= notice %>
      <%= alert %>
      <%= yield %>
    <% else %>
      <% if current_user %>
        <strong><%= current_user.email %></strong>
        <%= link_to t("sign_out"), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t("register"), new_user_registration_path %>
        <%= link_to t("sign_in"), new_user_session_path %>
      <% end %>
      <%= notice %>
      <%= alert %>
      <%= yield %>
    <% end %>
  </body>
</html>
