<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t('site_title') %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Modak" rel="stylesheet">


  </head>

  <body>
    <% if landing_layout? %>
      <%= yield %>
    <% elsif login_layout? %>
      <%= render 'layouts/alerts' %>
      <%= render 'layouts/choose_language' %>
      <%= yield %>
    <% else %>
      <div class="container">
        <%= render 'layouts/choose_language' %>
        <% if current_user %>
          <span><%= current_user.email %></span>
          <%= link_to t("change_password"), edit_user_password_path %>
          <% if current_user.admin? %>
            <%= link_to t("admin_dashboard"), admin_dashboard_path %>
          <% end %>
          <%= link_to t("sign_out"), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t("register"), new_user_registration_path %>
          <%= link_to t("sign_in"), new_user_session_path %>
          <%= link_to user_facebook_omniauth_authorize_path, title: t("my_devise.sign_in_with", provider: t('provider.facebook')), class: 'btn btn-social' do %>
            <i class="fa fa-facebook-official"></i>
          <% end %>
          <%= link_to user_google_oauth2_omniauth_authorize_path, title: t("my_devise.sign_in_with", provider: t('provider.google_oauth2')), class: 'btn btn-social' do %>
            <i class="fa fa-google" aria-hidden="true"></i>
          <% end %>
        <% end %>
        <%= link_to t("privacy_policy"), privacy_policy_path %>
        <%= render 'layouts/alerts' %>

        <% if find_breadcrumb_list.present? %>
          <ol class="breadcrumb">
            <% find_breadcrumb_list.each_with_index do |(text, link), i| %>
              <li class="<%= 'active' if i == find_breadcrumb_list.length - 1 %>">
                <% if link.present? %>
                  <%= link_to link do %>
                    <% if i == 0 %>
                      <i class="fa fa-dashboard"></i>
                    <% end %>
                    <%= text %>
                  <% end %>
                <% else %>
                  <% if i == 0 %>
                    <i class="fa fa-dashboard"></i>
                  <% end %>
                  <%= text %>
                <% end %>
              </li>
            <% end %>
          </ol>
        <% end %>

        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
