<!DOCTYPE html>
<html>
  <head>
    <title>PremestiSe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if login_layout? %>
      <div><%= notice %></div>
      <div><%= alert %></div>
      <%= yield %>
    <% else %>
      <% if current_user %>
        <span><%= current_user.email %></span>
        <%= link_to t("sign_out"), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t("register"), new_user_registration_path %>
        <%= link_to t("sign_in"), new_user_session_path %>
        <%= link_to t("my_devise.sign_in_with", provider: t('provider.facebook')), user_facebook_omniauth_authorize_path %>
        <%= link_to t("my_devise.sign_in_with", provider: t('provider.google_oauth2')), user_google_oauth2_omniauth_authorize_path %>
      <% end %>
      <div><%= notice %></div>
      <div><%= alert %></div>
      <%= yield %>
    <% end %>
  </body>
</html>
