<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t('site_title') %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Modak" rel="stylesheet">
  </head>

  <body>
    <% if landing_layout? %>
      <%= yield %>
    <% elsif login_layout? # if login_layout? %>
      <div class="login-page d-flex flex-column align-items-center">
        <%= render 'layouts/choose_language' %>
        <span class='px-2 background-same-as-image'>
          <%= link_to '/' do %>
            <%= image_tag 'favicon.ico', class: 'root-icon' %>
            <%= t('site_title') %>
          <% end %>
        </span>
        <div class='login-box mx-auto ml-5 p-3 bg-light text-center border rounded'>
          <%= yield %>
          <%= render 'layouts/alerts' %>
        </div>
      </div>
    <% else # elsif login_layout? # if login_layout? %>
      <%# here we are only when current_user exists %>
      <div class="container">
        <nav class='navbar navbar-expand-md navbar-light bg-light'>
          <div class='navbar-nav mr-auto'>
            <%= link_to '/', class: 'navbar-brand' do %>
              <%= image_tag 'favicon.ico', class: 'root-icon' %>
              <span class='d-none d-sm-inline'>
                <%= t('site_title') %>
              </span>
            <% end %>
            <div class='d-none d-md-block'>
              <% find_breadcrumb_list.each_with_index do |(text, link), i| %>
                <% if link.present? %>
                  <%= link_to link, class: 'nav-item nav-link' do %>
                    <%= text %>
                  <% end %>
                <% else %>
                  <span class='navbar-text'>
                    <%= text %>
                  </span>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class='navbar-nav'>
            <div class='nav-item dropdown'>
              <a class='nav-link dropdown-toggle' href="#" id='userDropdown' role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email %>
              </a>
              <div class="dropdown-menu" aria-labelledby="userDropdown">
                <%= link_to t("change_password"), edit_user_password_path, class: 'dropdown-item' %>
                <% if current_user.admin? %>
                  <%= link_to t("admin_dashboard"), admin_dashboard_path, class: 'dropdown-item' %>
                <% end %>
                <%= link_to t("privacy_policy"), privacy_policy_path, class: 'dropdown-item' %>
                <div class='dropdown-item'>
                  <%= render 'layouts/choose_language' %>
                </div>
                <%= link_to t("sign_out"), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </div>
          </div>
        </nav>
        <%= render 'layouts/alerts' %>
        <%= yield %>
      </div>
    <% end # else # elsif login_layout? # if login_layout? %>
  </body>
</html>
