<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t('site_title') %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='Description' content='<%= find_site_description %>'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :exception_notification %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Modak" rel="stylesheet">
    <%= yield :meta_tags %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-36706408-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-36706408-4');
    </script>

  </head>

  <body>
    <% if landing_layout? %>
      <%= yield %>
    <% elsif login_layout? # if login_layout? %>
      <div class="login-page d-flex flex-column align-items-center">
        <%= render 'layouts/choose_language' %>
        <span class='px-2 background-same-as-cute'>
          <%= link_to '/' do %>
            <%= image_tag 'premesti_se.gif', class: 'root-icon' %>
            <%= t('site_title') %>
          <% end %>
        </span>
        <div class='login-box mx-auto ml-5 p-3 bg-light text-center border rounded <%= login_layout?[:login_box_wide] ? 'login-box__wide' : nil %>'>
          <%= yield %>
          <%= render 'layouts/alerts' %>
        </div>
        <span class='px-2 background-same-as-cute'>
          <% if current_user %>
            <%= link_to t('dashboard'), dashboard_path %>
          <% else %>
            <%= link_to t('home_page'), root_path %>
          <% end %>
        </span>
      </div>
    <% else # elsif login_layout? # if login_layout? %>
      <%# here we are only when current_user exists %>
      <div>
        <nav class='navbar navbar-expand-md navbar-light bg-light'>
          <div class='navbar-nav mr-auto'>
            <%= link_to '/', class: 'navbar-brand' do %>
              <%= image_tag 'premesti_se.gif', class: 'root-icon' %>
              <span class='d-none d-sm-inline colorize-text-background-radial'>
                <%= t('site_title') %>
              </span>
            <% end %>
            <% if current_user.admin? %>
              <%= link_to t("admin_dashboard"), admin_dashboard_path, class: 'nav-item nav-link' %>
            <% end %>
            <% find_breadcrumb_list.each_with_index do |(text, link), i| %>
              <% if link.present? %>
                <%= link_to link, class: 'nav-item nav-link' do %>
                  <%= text %>
                <% end %>
                <i class="nav-link fa fa-angle-right" aria-hidden="true"></i>
              <% else %>
                <span class='navbar-text'>
                  <%= text %>
                </span>
              <% end %>
            <% end %>
          </div>
          <div class='navbar-nav'>
            <div class='nav-item dropdown dropleft'>
              <a class='nav-link dropdown-toggle' href="#" id='userDropdown' role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title='<%= current_user.email %>'>
                <%= current_user.email_username %>
              </a>
              <div class="dropdown-menu" aria-labelledby="userDropdown">
                <%= link_to t('my_account'), edit_user_registration_path, class: 'dropdown-item' %>
                <%= link_to t('my_settings'), my_settings_path, class: 'dropdown-item' %>
                <%= link_to t('my_data'), my_data_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to t("privacy_policy"), privacy_policy_path, class: 'dropdown-item' %>
                <%= link_to t('faq'), faq_path, class: 'dropdown-item' %>
                <%= link_to t('contact'), contact_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to destroy_user_session_url, method: :delete, class: "dropdown-item" do %>
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                  <%= t'sign_out' %>
                <% end %>
              </div>
            </div> <!--<div class='nav-item dropdown'>-->
          </div>
        </nav>
        <% if alert_for_user.present? %>
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="<%= t('close') %>" data-user-dismiss-custom-alert='true' title='<%= t('close') %>'><span aria-hidden="true">&times;</span></button>
            <%= alert_for_user.html_safe %>
          </div>
        <% end %>
        <div class='container mt-1'>
          <%= yield %>
        </div>
        <%= render 'layouts/alerts' %>
      </div>
    <% end # else # elsif login_layout? # if login_layout? %>
  </body>
</html>
