<!DOCTYPE html>
<html>
  <head>
    <title>PremestiSe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <strong><%= current_user.email %></strong>
      <a href="<%= destroy_user_session_path %>" data-method="delete">Sign out</a>
    <% else %>
      <a href="<%= new_user_registration_path %>">Sign up</a>
      <a href="<%= new_user_session_path %>">Log in</a>
    <% end %>
    <%= yield %>
  </body>
</html>
